/* --- Global Reset ---*/
@import "normalize.css";

/* Colors
#472839 main purple
#bfc94c secondary color
#7d324e secondary purple
#e6b1c4 pink */

/*--------------------General Styles---------------- */
body{
	font-family: "myriad pro", arial, sans-serif;
	background: url(../images/bg_floral.jpg);
	max-width: 960px;
	}
	
header{
	background-color: #472839;
	height: 123px;
	}

nav{
	margin: 0;
	padding: 0;
	width: 100%;
	}
nav ul li{
	display: inline-block;
	background-color: #7d324e;
	line-height: 49px;
	border-right: solid 1px #fff;
	text-align: center;
	width: 16.123456789%;
	word-spacing:0;
	letter-spacing:0;
	}
nav ul li:last-child{
	border: none;
	}
nav ul{
	margin: 0;
	padding: 0;
	background-color: #7d324e;
	width: 100%;
	letter-spacing:-0.31em;
	word-spacing:-0.43em;
	}
nav a{
	display: block;
	width: 100%;
	height: 49px;
	text-decoration: none;
	color: #bfc94c;
/* 	padding: 0 80px 0 0; */
	}
nav .current{
	background-color: #bfc94c;
	color: #472839;
	}   

#blessedthoughts{
/* 	margin: 0 auto; */
	padding: 10px 0px;
	height: 190px;
	}
#blessedthoughts a{
	background: url(../images/logo.png) no-repeat;
	display: block;
	width: 100%;
	height: 100px;
	text-indent: -20000px;
/* 	margin-top: 30px; */
	}
h1{
	margin: 0
	}	
h2,h1{
	color: #472839;
	}
h3{
	background-color: #e6b1c4;
	color: #472839;
	margin: 0;
	}
	
article, section{
/* 	clear: both; */
	width: 69.79166667%;
	float: left;
	}
section a{
	float: right;
	color: #e6b1c4;
	}
	
aside{
/* 	clear: both; */
	float: left;
	background-color: #472839;
	width: 162px;
	text-align: center;
	color: #bfc94c;
	margin-top: 50px;
	margin-bottom: 50px;
	}
aside a{
	color: #bfc94c;
	text-decoration: none;
	}
	
footer{
	clear: both;
	margin-top: 20px;
	text-align: center;
	background-color: #472839;
	height: 100px;
	color: #bfc94c;
	font-size:20px;
	width: 960px;
	}
footer ul li{
	display: inline-block;
	}
footer a{
	text-decoration: none;
	color: #bfc94c;
	font-size: 16px;
	}
/*-------------------Home--------------------------------*/
#home{
	margin-left: 60px;
	margin-bottom: 30px;
	}
/* ------------------About Us-----------------------	 */
#content{
	margin: -770px 70px 0 200px;
	}
/*------------------- Contact Us---------------------	 */
#contact{
	float: left;
	margin: -420px 0 60px 60px;
	width: 69.79166667%
	}
	
aside#hours{
	float: right;
	background-color: transparent;
	margin: 260px -50px 0 0;
	}
/*--------------------Details-----------------------------*/
#details{
	text-align: center;
	}	
/* -----------------Images----------------------	 */
img{
	margin: 50px 0 0 310px;
	max-width: 100%;
	}
img#feature{
	margin: 50px 0 0;
	max-width: 100%
	}
	
.cards{
	border: solid 3px #000;
	margin: 0 20px 40px 30px;
	max-width: 100%;
	}
	
#bird{
	border: solid 4px #e6b1c4;
	float: right;
	margin: 8px -90px 0 0;
	max-width: 100%;
	}
#contact_bird{
	float: right;
	margin: 50px 0 0 -250px;
	border: solid 4px #e6b1c4;
	max-width: 100%;
	}
	
#card{
	background: transparent;
	float: right;
	margin: 50px 0 0;
	font-family: "Lucida Calligraphy", script, serif;
	color: #472839;
	width: 281px;
	}
#card p{
	width: 100%;
	}

#order_card{
	margin: 50px 0 0 0;
	}
	
#gallery{
	max-width: 100%;
	margin-left: 80px; 
	}
#gallery a{
	margin: 0 0 40px 0;
	max-width: 100%;
	}
#feature_rose{
	max-width: 100%;
	margin-left: 30px;
	}

/*----------------------Order----------------------------------------------- */
#responsive{
	visibility: hidden;
	}
form fieldset{
	border: none;
	}	
.form_input label {
	float: left;
	width: 20%;
	margin: 4px 0 5px 0;
	color: #472839;
	text-align: right;
	padding-right: 10px;
	}
.form_input input{
	float: left;
	padding: 5px;
	color: #472839;
	}
 
form fieldset.radio ul li label {
	display: inline;
	float: none;
	width: auto;
	font-weight: normal;
	}
form fieldset.radio ul {
	margin: 5px 0 0 20%;
	}
form fieldset.radio ul li {
	margin: 0 0 5px 0;
	list-style-type: none;
	}
form fieldset.radio ul li:last-child {
	margin: 0;
	}
.radio{
	width: 557px;
	color: #472839;
	}

.form-text{
	width: 290px;
	}
#order{
	margin-left: 80px;
	margin-top: 30px;
	width: 400px;
	}
#order_card{
	margin-left: 230px;
	}
#insert_card{
	margin-left: 0;
	}
	
.form_input{
	clear: both;
	margin-bottom: 10px;
	overflow: hidden;
	width: 577px;
	}
	


/*----------------------Controls--------------------------------------------	 */
label.contact_us{
	display: block;
/* 	text-align: right; */
/* 	float: left; */
	width: 250px;
	color: #472839;
	margin-bottom: 6px;
	}
	
#name, #email, #number, #questions{
	width: 290px;
	margin-bottom: 8px;
	}
	

input#button{
	font-family: "myriad pro", Arial, sans-serif;
	font-size: 16px;
	color: #bfc94c;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#7d324e 0%,
		#3d232d);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#7d324e),
		to(#3d232d));
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid #361521;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
	width: 160px;
	margin: 10px 8px 0 0;
}
input#checkout{
	font-family: "myriad pro", Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #7d324e;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#bfc94c 0%,
		#9e9937);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#bfc94c),
		to(#9e9937));
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid #8c8731;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
	width: 170px;
	margin-top: 10px;
}
/*-----------------------------Media Queries------------------------------------*/
/* Tablet Landscape */
@media screen and (max-width: 990px) {
	body, footer{
		width: 95%
		}
	#home, #contact, section{ 
		width:75%;
		margin-left: 30px; 
		}
	#content{
		width: 75%;
		margin-left: 220px;
		}
	#gallery{
		width: 75%;
		margin-left: 30px;
		}
	aside#hours, aside{ 
		width:20%;
		}
	img#feature, img, #contact_bird{
		max-width: 100%;
		height: auto;
		width: auto\9; /* ie8 */
		}
	}
	
@media screen and (max-width: 928px) {
	.cards{
		margin: 0 20px 20px 10px;
		}
	}
	
@media screen and (max-width: 844px) {
	#remove{
		display: none;
		}
	#gallery h2{
		text-align: center;
		margin-right: 50px;
		}
	.cards{
		margin: 0 100px 20px 5px;
		}
	#card{
		display: none;
		}
	}

@media screen and (max-width: 801px) {
	#contact_bird{
		display: none;
		}
	section#contact{
		width: 60%;
		margin: 50px 0 60px 30px;
		}
	aside#hours{
		margin: 90px 90px 0 0;
		}
	#gallery{
		margin: 0;
		}
	.cards{
		margin: 0 60px 20px 0;
		}
	#gallery div{
		margin-left: 80px
		}
	}	
@media screen and (max-width: 775px) {
 	.cards{
 		margin: 0 70px 20px 0;
 		}
 	#gallery div{
 		margin-right: -40px;
 		}
 	}	
 
@media screen and (max-width: 768px) {
	#content{
		margin: -770px 0 0 170px;
		}
	#bird{
		margin: 8px -20px 10px 0;
		}
	#order_card{
		margin-left: 120px;
		}
	}	
	
@media screen and (max-width: 755px) {
	body, footer{
		width: 95%
		}
	section{ 
		width:75%;
		margin: 0; 
		}
	aside{ 
		display: none;
		}
	img#feature, img, #contact_bird{
		max-width: 100%;
		height: auto;
		width: auto\9; /* ie8 */
		}
	#content{
		margin: 50px 70px 20px 50px;
		}
	img#feature, #feature_rose{
		margin-left: 60px;
		}
	#feature_rose{
		margin-left: 100px;
		}
	#gallery h2{
		margin-left: 140px;
		}
	.cards{
		margin: 0 30px 20px 30px;
		}
	#contact{
		width: 60%;
		}
	#hours{
		display: block;
		margin: 90px 90px 0 0;
		}
}

@media screen and (max-width: 708px) {
	.cards{
		margin-top: 0;
		margin-right: 0;
		}
	.content h2{
		margin-top: 50px;
		}
	}

@media screen and (max-width: 680px) {
	.cards{
		margin-bottom: 20px;
		}
	#gallery h2{
		margin: 19px -30px 19px 0;
		}
	img#feature{
		margin-left: 35px;
		}
	}
	
@media screen and (max-width: 646px) {
	section#contact{
		margin-left: 165px;
		}
	aside#hours{
		width: 100%;
		margin-right: 0;
		}
	#contact h1{
		text-align: center;
		margin: 0 60px 20px 0;
		}
	}
	
@media screen and (max-width: 624px) {
	.cards{
		margin-left: 20px;
		}
	}
	
@media screen and (max-width: 599px) {
	nav ul li{
		display: inline;
		}
	#blessedthoughts a{
		margin-top: 30px;
		}
	.cards{
		margin-left: 15px;
		}
	#order{
		display: none;
		}
	#order_card{
		margin: 40px 0 10px 150px;
		}
	.form_input, fieldset{
		width: 92%;
		}
	#responsive{
		visibility: visible;
		margin-left: 100px;
		width: 100%
		}
	#delivery, #state_responsive, #occasion_responsive, #photo_responsive{
		width: 200px;
		text-align: left;
		}
	#state, #occasion{
		width: 290px;
		}
	textarea{
		width: 305px;
		}
	form fieldset.radio ul{
		margin: 0;
		}
	fieldset{
		width: 300px;
		}		
	}	
	
@media screen and (max-width: 581px) {
	.cards{
		margin-left: 10px;
		}
	}
		
@media screen and (max-width: 574px) {	
	#gallery h2{
		margin-left: 30px;
		}
	#gallery div{
		margin-bottom: -30px;
		overflow: hidden;
		}
	#feature_rose{
		display: none;
		}
	}
	
@media screen and (max-width: 568px) {
	.cards{
		margin-left: 8px;
		}
	#gallery h2{
		margin-left: 5px;
		margin-right: 0;
		}
	}
	
@media screen and (max-width: 562px) {
	.cards{
		margin-left: 5px;
		}
	}
	
@media screen and (max-width: 568px) {
	#gallery div{
		margin: 0 -70px -30px 0;
		}
	.cards{
		margin-left: 20px;
		margin-right: 0;
		}
	#gallery h2{
		margin-left: 100px;
		}
	}
	
@media screen and (max-width: 534px) {
	aside#hours{
		width: 95%;
		}
	section#contact{
		width: 95%;
		margin-left: 100px;
		}
	#contact h1{
		text-align: left;
	}
	
@media screen and (max-width: 505px) {
	.form_input input, .form_input label{
		clear: both;
		width: 92%;
		text-align: left;
		}
	.form_input{
		width: 92%;
		}
	
	}
	
@media screen and (max-width: 471px) {
	footer p{
		font-size: 14px;
		}
	footer ul{
		font-size: 14px;
		}
	}
	
@media screen and (max-width: 483px) {
	body{
		width: 95%
		}
	#contact, section{ 
		width:75%;
		margin: 0; 
		}
	aside, #feature_rose{ 
		display: none;
		}
	img#feature, img, #contact_bird{
		max-width: 100%;
		height: auto;
		width: auto\9; /* ie8 */
		}
	.cards{
		margin: 0 10px 20px 0;
		}
	#gallery h2{
		margin-left: 5px;
		}				
}

@media screen and (max-width: 413px) {
	#gallery div{
		margin-right: -20px;
		}
	#gallery h2{
		margin-left: 90px;
		}
	}

@media screen and (max-width: 380px) {
	header{
		height: 130px;
		}
	#blessedthoughts a{
		background: url(../images/logo_mobile.png) no-repeat;
		margin-top: 40px;
		margin-left: 20px;
		}
	footer p{
		font-size: 14px;
		}
	img#bird{
		margin: 0 0 10px 0;
		}
	.cards{
		margin-right: 40px;
		}
	#gallery h2{
		margin-right: 30px;
		}
	section#contact{
		margin-left: 30px;
		}
	#contact h1{
		text-align: center;
		}
	aside#hours{
		margin-top: 50px;
		}
	#order{
		margin-left: 30px;
		}
	#order_card{
		margin: 30px 0 0 60px;
		}
	}

@media screen and (max-width: 320px) {
	header{
		height: 130px;
		}
	#blessedthoughts a{
		background: url(../images/logo_mobile.png) no-repeat;
		margin-top: 40px;
		margin-left: 20px;
		}
	footer p{
		font-size: 14px;
		}
	img#bird{
		margin: 0 0 10px 0;
		}
	#gallery h2{
		margin-right: 30px;
		}
	section#contact{
		margin-left: 0;
		}
	aside#hours{
		margin-top: 50px;
		}
	.content h2{
		margin-top: 50px;
		}
	}

