body{
	margin: auto;
	width: 960px;
	background-color: #000;
	font-family: arial;
	}

#wrapper{
	background-color: #a0a0a0;
	width: 900px;
	margin: auto;
	}
	
h1{
	text-align: center;
	}

h2{
	border-bottom: solid 1px black;
	}
	
h3{
	margin: 15px 0 0 10px;
	}
	
p{
	margin: 0 0 0 10px;
	}
	
